.section  {
  background-color: lemonchiffon;
}

#email {
  color: darkslateblue;
  background-color: white;
}

#github {
  color: darkslateblue;
  background-color: darkorange;
}

#portfolio {
    color: white;
    background-color: darkslateblue;
}
